main {
    max-width: 900px;
}

    main .container {
        margin-top: 50px;
        display: flex;
        /* במסכים קטנים - הם 'יפלו' לשורה הבאה */
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main .box {
        width: 30%;
        color: #F2E8CF;
        background: black;
        text-align: center;
        padding: 16px;
        margin-bottom: 20px;
        margin-right: 5px;
        margin-left: 5px;
        border: 1px solid #f2e8cf;
        border-radius: 8px;
        /* צל - העתקה מהאתר */
        box-shadow: 1px 1px 23px 6px black;
    }
